<section class="container-notfound">

    <div>
        <div class="alignButtonCenter">
            <h1><strong>Ops! not Found 404</strong></h1>
        </div>
        <div class="alignButtonCenter">
            <img src="../../../assets/img/coxinha.gif" alt="imagem de uma coxinha balançando">
        </div>
        <div class="alignButtonCenter">
            <h1><em>Isso é hora de Comer uma Coxinha?</em></h1>
        </div>
        <div class="alignButtonCenter">
            <a mat-raised-button href="http://www.oreidascoxinhas.com.br/site/" target="_blank">Sim</a>
            <button mat-raised-button (click)="login()">Não</button>
        </div>
    </div>
</section>