.container-notfound{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background: radial-gradient(rgb(240, 233, 221),rgb(255, 197, 97));
    
}

.imgcox{
    margin: 0;
    width: 10vh;
}

.alignButtonCenter {
    display: flex;
    justify-content: center;
}

  
 