<nav class="navbar">
    <!-- menu reposnsivo mobile -->
    <span id="menu-mobile" class="navbar-toogle>">
        <mat-icon>menu</mat-icon>
    </span>

    <!-- menu para desktop -->
    <span class="logo"><img src="../../../assets/img/logo.png"></span>

    <ul id="menu-desktop" class="main-nav">
        <li>
            <a routerlink="/lista-contatos" class="nav-links">Contatos</a>
        </li>
        <li>
            <a routerlink="/lista-contatos" class="nav-links">Usuários</a>
        </li>
        <li>
            <a class="nav-links">Logout</a>
        </li>
    </ul>
</nav>